<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PitchPerfect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>067B3B931E77CEC200A8D550</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>067B3BA71E77CEC400A8D550</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>067B3BB21E77CEC400A8D550</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
